<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <bean id="loginEventListener" class="com.my.listener.LoginEventListener"></bean>
    <bean id="simpleApplicationEventMulticasterBeanPostProcessor"
          class="com.my.support.SimpleApplicationEventMulticasterBeanPostProcessor"></bean>
    <bean id="applicationEventMulticaster"
          class="org.springframework.context.event.SimpleApplicationEventMulticaster"></bean>


    <bean id="myServlet" class="com.my.servlet.MyServlet"  init-method="init">
        <property name="person" ref="person"></property>
    </bean>
    <bean name="person" class="com.my.pojo.Person"/>

    <bean name="factoryBeanTest" class="com.my.pojo.FactoryBeanTest"/>
    <bean name="factoryBeanRoom" class="com.my.pojo.FactoryBeanRoom"/>
    <bean class="com.my.support.ApplicationContextHelper" id="applicationContextHelper"></bean>

    <bean id="customBeanPostProcessor" class="com.my.support.CustomBeanPostProcessor"></bean>
    <bean id="ConfigurationClassPostProcessor" class="org.springframework.context.annotation.ConfigurationClassPostProcessor"></bean>


    <bean id="customBeanFactoryPostProcessor" class="com.my.support.CustomBeanFactoryPostProcessor"/>
    <bean id="myBeforeAdvice" class="com.my.aop.advisor.MyBeforeAdvice"/>
    <bean id="myBeforeAdvice2" class="com.my.aop.advisor.MyBeforeAdvice2"/>

    <bean id="myAfterAdvice" class="com.my.aop.advisor.MyAfterAdvice"/>
    <bean id="myAround" class="com.my.aop.advisor.MyAround"/>
    <bean id="myAround2" class="com.my.aop.advisor.MyAround2"/>

    <!-- Aop配置 -->
    <aop:config>
        <aop:pointcut id="mypoint" expression="execution(* com.my.servlet.*.*(..))"/>
        <aop:advisor advice-ref="myBeforeAdvice" pointcut-ref="mypoint"/>
        <aop:advisor advice-ref="myBeforeAdvice2" pointcut-ref="mypoint"/>
        <aop:advisor advice-ref="myAfterAdvice" pointcut-ref="mypoint"/>
        <aop:advisor advice-ref="myAround" pointcut-ref="mypoint"/>
        <aop:advisor advice-ref="myAround2" pointcut-ref="mypoint"/>
    </aop:config>

</beans>